
.DS_Store
data/source/aeap_nys/dfw_lake_samples/version/2013-April-24/automatic
data/source/aeap_nys/dfw_lake_samples/version/2013-April-24/publish
data/source/aeap_nys/dfw_lake_samples/version/2013-April-24/doc
*.swp

data/source/aeap_nys/dfw_lake_samples/version/2013-April-24/source/~$AEAP-Locations.xlsx

data/source/aeap_nys/dfw_lake_samples/version/2013-April-24/source/~$AEAP_phyto_web.xlsx

data/source/aeap_nys/dfw_lake_samples/version/2013-April-24/source/~$AEAP_phyto_web.xlsx

data/source/aeap_nys/dfw_lake_samples/version/2013-April-24/source/~$phyto-class.xlsx

data/source/aeap_nys/dfw_lake_samples/version/2013-April-24/source/~$AEAP_phyto_web.xlsx

data/source/sbc-dev-lternet-edu/knb-lter-sbc.6.11/version/20120229/automatic
data/source/sbc-dev-lternet-edu/knb-lter-sbc.6.11/version/20120229/publish

*.swo
data/NHD
